body {
background-color: rgb(233, 178, 29);
color:rgb(247, 223, 247)
font-family "Bokor", serif;
display: flex;
justify-content:center;
align-items:center;
height:700px;
margin:0;
}

button{
    background-color: white;
    color:rgb(138, 138, 231);
    font-family:"Bokor", serif;
}

.passo {
    display: none;
}

.passo.ativo{
    display:block;
}

main{
    text-align: center;
    max-width: 90%;
}

img{
    max-width: 80%;
}